node_modules/
.next/
dist/
build/
target/
.anchor/
*.log
.env
.env.local
.env.*.local
veil-bundlr.json
*-keypair.json
app/scripts/
worktrees/
.DS_Store
test-ledger/
.swarmhash
yarn-error.log
npm-debug.log*
.vercel/
*.tsbuildinfo

# Local Netlify folder
.netlify
